.ProductCard {
    padding: 5px;
    text-align: center;
}

.ProductCard .image_box img {
    width: 100%;
}

.ProductCard .product_details {
    padding: 25px 0 35px 0;
}

.ProductCard .product_details h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.ProductCard .product_details p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
    color: #737373;
}

.ProductCard .product_details .prices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.ProductCard .product_details .price {
    margin: 0 8px 0 0;
    color: #BDBDBD;
}

.ProductCard .product_details .currentPrice {
    color: #23856D;
    margin: 0;
}

.ProductCard .product_details .price,
.ProductCard .product_details .currentPrice {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .1px;
}

.ProductCard .product_details .colors_box {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductCard .product_details .colors_box div {
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin-right: 6.8px;
}

.ProductCard .product_details .colors_box div:last-child {
    margin-right: 0;
}