.shop .shop_categories {
    background-color: #FAFAFA;
}

.shop .shop_categories .top_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.shop .shop_categories .top_part h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0;
}

.shop .shop_categories .top_part .routes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 15px;
}

.shop .shop_categories .top_part .routes img {
    height: 12px;
}

.shop .shop_categories .top_part .routes p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.shop .shop_categories .top_part .routes :first-child {
    color: #252B42;
}

.shop .shop_categories .top_part .routes :last-child {
    color: #BDBDBD;
}

.shop .shop_categories .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

.shop .shop_categories .category {
    background-image: url(../../assets/category.jpg);
    width: 204px;
    margin: 10px 0px;
    height: 223px;
}

.shop .shop_categories .category a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.shop .shop_categories .category a h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.shop .shop_categories .category a p {
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #fff;
}

.shop .shop_top {
    padding: 13px 0;
    align-items: center;
}

.shop .feature {
    margin: 13px 0;
}

.shop .feature p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
    color: #737373;
}

.shop .feature form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F9F9F9;
    border: 1px solid #E4E4E4;
    padding-right: 13px;
}

.shop .feature form input {
    width: 100%;
    padding: 10.5px 13px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .2px;
}

.shop .shop_top :last-child .feature {
    text-align: right;
}

.shop .feature select {
    border: 1px solid #DDDDDD;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 11px 18px;
    margin-right: 15px;
    width: 141px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    outline: none;
}

.shop .feature button {
    padding: 10px 20px;
    border: none;
    outline: none;
    width: 94px;
    background-color: #23A6F0;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.shop .feature.search_box {
    display: block;
}

.shop .feature.grid_box {
    display: none;
}


.pagination_container {
    padding: 48px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    border: 1px solid #BDBDBD;
    border-radius: 6.7px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.first,
.next {
    padding: 25px;
    cursor: pointer;
}

.first {
    background-color: #F3F3F3;
}

.next {
    background-color: #fff;
}

.first p,
.next p,
.page p {
    margin: 0;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.first p {
    color: #BDBDBD;
}

.next p {
    color: #23A6F0;
}

.page {
    padding: 25px 20px;
    background-color: #fff;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    cursor: pointer;
}

.page p {
    color: #23A6F0;
    margin: 0;
}

.page.active {
    background-color: #23A6F0;
}

.page.active p {
    color: #fff;
}

@media only screen and (max-width: 991px) {

    .shop .feature select,
    .shop .feature button {
        width: 48%;
        margin: 2px;
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 768px) {
    .shop .shop_top :last-child .feature {
        text-align: left;
    }

    .shop .feature select {
        width: 141px;
        padding: 11px 18px;
    }

    .shop .feature button {
        width: 91px;
        padding: 10px 20px;
    }

    .shop .feature.search_box {
        display: none;
    }

    .shop .feature.grid_box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop .feature.grid_box h6 {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
        margin: 0;
        margin-right: 15px;
    }

    .shop .feature.grid_box .views {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .shop .feature.grid_box .views div {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 576px) {

    .shop .shop_top,
    .shop .shop_top :last-child .feature {
        text-align: center;
    }
}

@media only screen and (max-width: 456px) {
    .shop .shop_categories .category {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .shop .shop_categories .top_part {
        flex-direction: column;
    }

    .shop .shop_categories .top_part h3 {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 345px) {

    .first,
    .next {
        padding: 25px 20px;
    }

    .first p,
    .next p,
    .page p {
        font-size: 13px;
    }
}

.shop .shop_allProducts {
    margin-top: 48px;
}